div {
  height: 100vh;
  background-color: red;
  background-image: url("https://plus.unsplash.com/premium_photo-1707203459167-f00f1e6375b0?q=80&w=871&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* filter: blur(3px); */
  /* filter: brightness(100%); */
}
h1 {
  color: red;
  text-align: center;
}

* {
  margin: 0px;
}
